main{
    margin: 6rem auto;
}
.lista-de-lobos {
    width: 70%;
    margin: 4rem auto;
}
.lupa{
    position: absolute;
    margin-top: .5rem;
    margin-left: .5rem;
    height: 1.5rem;
}
.search-bar {  
    width: 80%;
    height: 2rem;
    text-align: center;
   
    color: var(--blackish);
    font-weight: 400;  
}
.butao-lista-lobo{
    background-color: var(--yellow-botton);
    color: var(--white);
    width: 6rem;
    height: 2rem;
    font-size: 1.25rem;
    border-style: none;
}
.butao-lista-lobo:hover{
    background-color:var(--white);
    color: var(--yellow-botton);
    border:1px solid var(--yellow-botton);
   
}
.nome-e-botao-par{
    display: flex;
    justify-content: space-between;
   
}
.nome-e-botao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   
}

.paginacao{
    width: 10%;
    margin: 0 auto;
    
}
.paginacao a{
    margin: 0 auto;
    font-size: 1.25rem;
    color: var(--blackish);
    text-decoration: none;
    margin: 0 1px;
}
.paginacao a:hover{
    
    text-decoration:underline;
}
