body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
    width: 70%;
    margin: 5rem auto;
    
}
main div h1{
    margin: 2rem auto 0;
    width: 14rem;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 400;
}
main div p{
    width: 90%;
    margin: 3rem auto;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

}
/* /// MARACUTAI APAGAR DEPOIS */
/* footer {
    position:absolute;
    bottom:0;
    width:100%;
} */
